<% if (typeof errs !=='undefined' ) { %>
    <div class="container" style="padding-top: 20px;">
        <div class="alert alert-danger">
            <h1>
                <%= errs %>
            </h1>

        </div>
    </div>
<% } %>