/*RESET CSS BEGIN*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/*RESET CSS END*/


/*HELPER CLASS BEGIN*/

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

strong,
b {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

p,
ul li,
ol li {
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 20px 0;
}

ul li,
ol li {
    margin-bottom: 5px;
}


/*HELPER CLASS END*/

* {
    box-sizing: border-box;
    outline: 0;
}



/* Start Style navbar  */
.champnav {
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;;
}

.champnav .navbar {
    padding: 0;
}
.champnav .navbar-nav {
    align-items: center;
}
.champnav form {
    width: 100%;
}
.champnav form input {
    padding: 10px 10px 10px 30px;
    border: none;
    width: 300px;
    
}
.champnav form input::placeholder {
    color: #999999;
}
.champnav .search-icon {

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
/* .champnav .navbar .navbar-brand {
    border-right: 1px solid #ff0000;
} */
.bg-light {
    background: none !important;
}
.cut {
    height: 65px;
    width: 1px;
    background-color: #eeeeee;
    margin-top: 0;
    margin-right: 15px;
}
.cut2 {
    height: 45px;
    width: 1px;
    background-color: #eeeeee;
    margin-top: 0;
    margin-left: 10px;
}
.champnav .nav-item {
    margin-left: 10px;
}
.champnav .nav-item .compine-icon {
    display: flex;
    align-items: center;
}
.champnav .nav-item .nav-link {
    color: #999999 !important;
    font-weight: 100;
    transition: .3s;
}
.champnav .nav-item.signup a {
    background-color: #09294c;
    color: #ffffff !important;
    border-radius: 5px;
    padding: 10px 30px;
}
.champnav .nav-item.signup a:hover {
    color: #ffffff;
}
.champnav .nav-item .nav-link:hover {
    color: #666666;
}

@media(max-width: 1199px) {
    .item-search-ul, .item-search {
        display: none;
    }
    .navbar-nav > div:first-child {
        display: none;
    }
}
@media(max-width: 991px) {
    .cut2, .cut {
        display: none;
    }
    .champnav .navbar-nav {
        align-items: normal;
    }
    .champnav {
        padding: 20px 0;
    }
    
}
/* End Style Navbar  */