
    <!-- Start navbar  -->

    <section class="champnav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <img src="images/logo.png" alt="Logo">
                </a>
                <div class="cut"></div>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="item-search-ul">
                    <li class="nav-item item-search">
                        <div class="search-icon">
                            <img src="images/search-icon.png" alt="">
                        </div>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="mr-sm-2" type="search" placeholder="Search for products and companies"
                                aria-label="Search">
                        </form>
                    </li>
                </ul>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <div class="cut2"></div>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">How it works</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Champ for business</a>
                        </li>
                        <div class="cut2"></div>
                        <li class="nav-item">
                            <a class="nav-link compine-icon" href="#"><span style="margin-right: 10px;">Change</span> <img src="images/flag.png" alt="Flag Icon"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link compine-icon" href="#"><img src="images/help-icon.png" style="margin-right: 10px;" alt="Help Icon"> <span>Help</span></a>
                        </li>
                        <div class="cut2"></div>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                        <li class="nav-item signup">
                            <a class="nav-link" href="#">Sign up</a>
                        </li>
                    </ul>

                </div>
            </nav>
        </div>
    </section>

    <!-- End Navbar  -->